*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-background{
  background-color: darkgray;
}

.siteLogo > h1{
  color:#00F6AC;
}

/* HERO SECTION*/

.hero{
  width: 100%;
  /* background: rgb(12,150,53); */
  background: linear-gradient(90deg, rgba(12,150,53,1) 0%, rgba(10,179,147,1) 36%, rgba(0,246,172,1) 100%);
  height: 60vh;
  display: flex;
  justify-content: center;
}

.heroContainer{
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  padding: 20px 0;
}

.heroWords{
  margin:auto 2rem;
}

.heroRight{
  margin:auto;
  display: flex;
  align-items: center;
  
}

.heroRight > figure > img{
  height: 300px;
  border-radius: 100px; 
}

/* BACKGROUND SECTIONS */
.darkSection{
  background-color: rgb(20, 19, 19);
  padding: 60px 0;
}
/*SITE TITLES*/
.siteTitles{
  color: white;
}

/* TOOLS SECTION*/
.toolsSection{
  display: flex;
  justify-content: center;
}

.toolsBox{
  width: 60%;
  background-color:rgb(56, 56, 56);
  border-radius: 20px;
  text-align: center;
  padding: 30px 0;
}

.toolsBox > h3{
  color: white;
}

.toolsGrid{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 50px));
}

.toolsGrid > h6{
  color: black;
  background-color: #00F6AC;
  margin: 5px 15px;
  border-radius: 5px;
}

/* PROJECTS SECTION*/

.projectsSection{
  background-color:rgb(36, 36, 36);
  padding: 60px 0;
}

.projectsBox{
  width: 80%;
  /* background-color: rgb(56, 56, 56); */
  margin: auto;
}

.projectCard{
  color: white;
  padding: 30px 0;
  text-align: center;
}
.projectCard > img {
  width: 80%;
}

/* FREELANCE SECTION*/

.freelanceBox{
  width: 80%;
  /* border: 1px solid rgb(172, 16, 16); */
  margin: auto;
}

.freelanceProjects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin-top: 30px;
}

.freelanceCard{
  background-color: rgb(44, 44, 44);
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
}

.freelanceCard > img{
  width: 200px;
  height: 130px;
  border-radius: 5px;
  object-fit: cover;
  object-position: top;
  
}

.freelanceCard > div{
  text-align: left;
  margin:10px 20px 0;
  color: white;
}

.freelanceCard > div > h6{
  color: #00F6AC;
}

/* ABOUT SECTION */
.about{
  color: white;
  text-align: center;
}


/* CONTACT SECTION */
.contact{
  color: white;
}